 /* 导航头部样式 */
.hd_top_bar{
  height: 30px;
  border-bottom:solid 1px #e5e5e5; 
  background:#f4f4f4;
  line-height: 30px;
}
.hd_indexprovce{
  position: relative;
  z-index: 600;
}
.hd_indexprovce .hd_topbar_city{
  float: left;
  display: block;
  height: 30px;
  padding: 0 10px;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
  color: #666;
}
.hd_indexprovce a:hover{
  color: red;
}
.hd_indexprovce i{
  color: red;
}
.hd_city_select{
  position: absolute;
  z-index: -1;
  width: 720px;
  background: #fff;
  border: solid 1px #dbdbdb;
  top: 29px;
  left: 0;
  /* overflow: hidden; */
}
/* .hd_indexprovce a:focus{
  background:#ffffff;
} */
.hd_city_select .hd_city_close{
  position: absolute;
  top: 5px;
  right: 5px;
  height: 20px;
  padding: 5px;
  font-family: "Tahoma";
  font-size: 20px;
  color:#ccc;
  line-height: 20px;
}
.hd_cur_city_wrap{
  padding: 15px 20px 0;
  height: 30px;
}
.hd_cur_city{
  height: 28px;
  padding-right: 10px;
  line-height: 28px;
  color: #666;
  font-weight: bold;
}
.hd_city_search{
  position: relative;
}
.hd_city_search .iconfont{
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 26px;
  text-align: center;
  color: #dcdcdc;
  font-size: 16px;
}
.hd_city_input{
  position: relative;
  float: left;
  height: 26px;
  border: 1px solid #ccc;
}
.hd_city_select input{
  display: block;
  height: 26px;
  width: 135px;
  border: none;
  padding: 0 8px 0 5px;
  vertical-align : middle;
  color: #333;
}
.hd_city_input .hd_citys_close{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 26px;
  padding: 0 10px;
  font-family: "Tahoma";
  font-size: 16px;
  color: #ccc;
  line-height: 26px;
  cursor: pointer;
}
.hd_city_suggest{
  position: absolute;
  top: 27px;
  left: 0;
  z-index: 580;
  width: 148px;
  max-height: 168px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  color: #333;
}
.hd_city_suggest a{
  display: block;
  height: 28px;
  padding: 0 10px;
  line-height: 28px;
}
.hd_hot_city_wrap{
  margin-left: 20px;
  border-bottom: 1px dotted #e0e0e0;
  padding: 12px 0 5px;
  line-height: 20px;
}
.hd_hot_city{
  padding-right: 10px;
  color: #666;
  font-weight: bold;
}
.hd_hotcity_list{
  width:610px;
}
.hd_hotcity_list a{
  float: left;
  padding: 0 25px 5px 0;
  color: #666;
  overflow: hidden;
  line-height: 20px;
}
.hd_letter_search{
  margin: 0 20px;
  padding: 12px 0 0;
}
.hd_city_select .hd_letter_tit {
  float: left;
  padding-right: 10px;
  color: #666;
  font-weight: bold;
  line-height: 20px;
}
.hd_top_bar .hd_city_select .hd_city_initial a{
  float: left;
  width: 22px;
  height: 20px;
  margin: 0 5px 5px 0;
  background-color: #eee;
  color: gray;
  text-align: center;
  line-height: 20px;
  font-weight: "Arial";
}
.hd_top_bar .hd_city_select .hd_city_initial a:hover{
  background-color: #ff4040;
  color: #fff;
}
.hd_city_list{
  position: relative;
  height: 245px;
  overflow: hidden;
  margin: 0 0 10px 20px;
}
.hd_city_list ul{
  position: relative;
  height: 215px;
  padding: 10px 0;
  overflow: auto;
}
.hd_city_list li{
  position: relative;
  margin-bottom: 10px;
  padding-left: 30px;
}
.hd_city_list .hd_city_innitial_tit{
  position: absolute;
  left: 3px;
  top: 2px;
  font-size: 18px;
  font-family: "Arial";
  color: #ccc;
}
.hd_city a{
  float: left;
  padding: 0 30px 0 0;
  white-space: nowrap;
  color: #666;
}
/* 登录及其右侧部分部分样式 */
.hd_topbar_right .hd_hi{
  color: #ff4040;
}
.hd_topbar_right .hd_unlogin{
  padding: 0 10px;
  float: left;
}
.hd_topbar_right .hd_dl{
  color: #ff4040;
}
.hd_topbar_right a{
  color: #666;
}
.hd_topbar_right .iconfont {
  vertical-align: top;
  color: #aaa;
  font-size: 14px;
}
.hd_topbar_right li:hover .iconfont{
  color:#ff4040;
}
.hd_topbar_right li:hover a{
  color:#ff4040;
}
.hd_menu{
  float: left;
  min-width: 66px;
  height: 30px;
  padding: 0 10px;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
}
.hd_topbar_right li {
  position: relative;
  z-index: 600;
  float: left;
  line-height: 30px;
  height: 30px;
}
.hd_topbar_right .iconfont{
  vertical-align: top;
  color: #aaa;
  font-size: 14px;
}
.hd_menu_list {
  position: absolute;
  top: 30px;
  left: 0px;
  display: none;
  width: 86px;
  padding: 5px 0;
  border: 1px solid #dbdbdb;
  border-top: 0 none;
  background-color: #fff;
}
.hd_top_bar .hd_topbar_right .hd_menu_list a {
  display: block;
  padding: 0 0 0 10px;
  line-height: 26px;
}
.hd_has_child:hover .hd_menu_list{
  display: block;
}
.hd_topbar_right .hd_title {
  float: left;
  min-width: 66px;
  height: 30px;
  padding: 0 10px;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
}
.hd_menu .iconfont{
  width: 14px;
  height: 30px;
  display: inline-block;
}
.hd_qrcode_bg{
  position: absolute;
  left: -10px;
  top: 30px;
  /* display: none; */
  padding: 15px 9px 9px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}
.hd_qrcode_bg p{
  text-align: center;
  line-height: 12px;
  margin-bottom: 7px;
}
/* 小三角 */
.hd_topbar_right .hd_qrcode_bg .triangle {
  width: 0;
  height: 0;
  border-top: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  position: absolute;
  top: -7px;
  left: 46px;
}
.hd_header {
  height: 150px;
  background-repeat: no-repeat;
}
.hd_logo_area{
  width: 205px;
  height: 150px;
}
.hd_header .hd_logo_area .hd_logo {
  position: relative;
  display: block;
  width: 205px;
  height: 150px;
}
.hd_header .hd_logo_area .hd_logo img {
  position: absolute;
  top: 0;
  left: -28px;
  width: 261px;
  height: 150px;
}
.hd_header .hd_header_right {
  float: right;
  width: 974px;
  padding: 32px 14px 0 35px;
}
.hd_head_search{
  position: relative;
  z-index: 501;
  padding-top: 40px;
  float: left;
  width: 754px;
}
.hd_search_from{
  position: absolute;
  left: 0;
  top: 0;
}
.hd_fixed_logo{
  display: none;
  float: left;
  margin-right: 47px;
}
.hd_search_wrap {
  position: relative;
  z-index: 501;
  padding: 2px;
  border-radius: 2px;
  background-color: #ff4040;
}
.hd_search_wrap .hd_search_ipt{
  float: left;
  width: 685px;
  height: 36px;
  outline: 0 none;
  border: 0 none;
  padding-left: 15px;
  font-size: 14px;
  color: #aaa;
  line-height: 36px;
}
.hd_header .hd_search_wrap .hd_search_btn {
  float: left;
  width: 50px;
  height: 36px;
  border: 0 none;
  background-color: #ff4040;
  text-align: center;
  line-height: 36px;
  color: #fff;
  cursor: pointer;
}
.hd_search_wrap .hd_search_btn i {
  font-size: 24px;
  text-decoration: none;
  font-style: normal;
}
.hd_search_tips_result {
  position: absolute;
  top: 38px;
  left: 2px;
  z-index: 520;
  width: 700px;
  background: #fff;
}
.hd_search_history_new {
  position: absolute;
  top: 0;
  left: 0;
  width: 698px;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #f8f8f8;
}
.hd_search_history_new .hd_s_history {
    float: left;
    width: 417px;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
    border-right: 1px solid #e5e5e5;
    background-color: #fff;
}
.hd_search_history_new .hd_s_history dt {
  height: 16px;
  padding: 12px 6px 8px 15px;
  color: #999;
  line-height: 16px;
}
.hd_search_history_new .hd_h_search{
  float: right;
  width: 262px;
  overflow: hidden;
  margin-bottom: -9999px;
  margin-left: -1px;
  padding: 0 9px 9999px;
  border-left: 1px solid #e5e5e5;
}
.hd_h_search dt{
  padding: 12px 6px 13px 15px;
  color: #999;
} 
.hd_h_search dd{
  float: left;
  margin: 0 4px 12px;
}
.hd_search_history_new .hd_h_search dd a, .search_classify_detail .hd_property_list dd a {
  display: block;
  float: left;
  max-width: 160px;
  height: 22px;
  padding: 0 10px;
  border: 1px solid #e1e1e1;
  background: #FFF;
  line-height: 22px;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  text-indent: 0;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  word-break: break-all;
}
.hd_search_history_new .hd_h_search dd a:hover{
  border: 1px solid #e60012;
  color: #e60012; 
}
.hd_header .hd_hot_search {
  height: 36px;
  overflow: hidden;
}
.hd_hot_search a {
  float: left;
  margin-right: 15px;
  line-height: 36px;
  color: #aaa;
  font-size: 14px;
}
.hd_hot_search a:hover {
  color: #ff4040;
}
.hd_mini_cart {
  position: relative;
  z-index: 501;
  float: right;
}
.hd_mini_cart .hd_prism_cart em {
  margin-right: 12px;
  font-size: 20px;
}
.hd_mini_cart .hd_prism_cart{
  display: block;
  width: 130px;
  height: 20px;
  overflow: hidden;
  padding: 9px 0 9px;
  border: 1px solid #d7d7d7;
  background: #fff;
  text-align: center;
  line-height: 20px;
  color: #666;
  font-size: 16px;
}
.hd_header_nav {
  height: 40px;
  overflow: hidden;
  line-height: 40px;
}
.hd_header_nav li{
  float: left;
  margin-right: 30px;
  font-size: 16px;
}


/* 导航头部css结束 */


.try_new_slide {
  position: relative;
  height: 450px;
}
.try_new_slide .slide_con {
  position: relative;
  height: 100%;
}
.try_new_slide .slide_con li {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.try_new_slide .slide_con li a {
  display: block;
  width: 100%;
  height: 450px;
  margin: 0 auto;
  text-align: center;
}
.try_new_slide .slide_con li a img {
  width: 1228px;
  height: 450px;
}
img {
  border: 0 none;
  vertical-align: top;
}
.try_new_slide .slide_num {
  height: 16px;
  position: absolute;
  left: 50%;
  bottom: 15px;
  z-index: 2;
  width: auto;
}
.try_new_slide .slide_num ol {
  float: left;
  position: relative;
  left: -50%;
  text-align: right;
  white-space: nowrap;
}
.try_new_slide .slide_num ol li {
  display: inline-block;
  overflow: hidden;
  width: 12px;
  height: 12px;
  margin: 0 3px;
  padding: 2px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}
.try_new_slide .slide_num ol li.cur {
  background-color: #ff4040;
  opacity: 1;
}
.try_new_slide .slide_num ol li i {
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: .7;
}
.try_new_slide a.show_next {
  margin-left: 558px;
}
.try_new_slide a.show_next, .try_new_slide a.show_pre {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 178px;
  left: 50%;
  z-index: 4;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.4);
  text-align: center;
  line-height: 44px;
}
.try_new_slide a.show_next i, .try_new_slide a.show_pre i {
  font-size: 16px;
  opacity: .3;
}
.try_new_slide a.show_pre {
  margin-left: -602px;
}
.try_new_new_arrival {
  width: 100%;
  height: 550px;
  background: #fff url(https://img.yihaodianimg.com/front-channel/channel/likenew/images/new_arrival.png?3dfe709) no-repeat center center;
}
.try_new_new_category.try_new_new_arrival .new_category_center {
  padding-top: 42px;
}
.try_new_new_category .new_category_center {
  height: 76px;
  text-align: center;
}
.try_new_new_category .new_category_center .new_category_hd {
  display: inline-block;
  height: 40px;
}
.new_category_hd .likenew_iconfont {
  position: relative;
  top: 9px;
  margin-right: 9px;
  color: #ed514c;
  font-size: 22px;
}
.new_category_center .new_category_hd h2.new_category_tit {
  color: #dd3737;
  font: normal 26px/40px 'Microsoft YaHei';
}
.fl {
  float: left;
}
.try_new_new_category .new_category_center .new_category_en_hd {
  height: 36px;
  color: #333;
  font: normal 22px/36px 'Lucida Handwriting';
}
.new_arrival_banner_box {
  margin-top: 48px;
}
.new_arrival_banner_list {
  margin-right: -59px;
}
.new_arrival_banner_box .item {
  float: left;
  margin-right: 59px;
  transition: transform .4s ease;
}
.new_arrival_banner_box .item .banner_link {
  display: block;
  position: relative;
  width: 370px;
  height: 270px;
}
a {
  text-decoration: none;
  color: #333;
}
.new_arrival_banner_box .item .banner_link img {
  width: 370px;
  height: 270px;
}
.new_arrival_banner_box .item .item_mask, .new_arrival_banner_box .item .banner_tit {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 370px;
  height: 60px;
  color: #fff;
  text-align: center;
}
.new_arrival_banner_box .item .banner_tit {
  z-index: 3;
  color: #333;
  font: bold 16px/60px simsun;
  overflow: hidden;
}
.new_arrival_banner_box .item .item_mask {
  background-color: #fff;
  opacity: .9;
}
.try_new_bg {
  background: #ededed url(http://img.yihaodianimg.com/front-channel/channel/likenew/images/bodybg.png?3dfe709) no-repeat top center;
}
.try_new_new_category.try_new_new_selected .new_category_center {
  padding-top: 70px;
}
.try_new_new_category .new_category_center {
  height: 76px;
  text-align: center;
}
.try_new_new_category .new_category_center .new_category_hd {
  display: inline-block;
  height: 40px;
}
.new_category_hd .likenew_iconfont {
  position: relative;
  top: 9px;
  margin-right: 9px;
  color: #ed514c;
  font-size: 22px;
}
.new_category_center .new_category_hd h2.new_category_tit {
  color: #dd3737;
  font: normal 26px/40px 'Microsoft YaHei';
}
.try_new_new_category .new_category_center .new_category_en_hd {
  height: 36px;
  color: #333;
  font: normal 22px/36px 'Lucida Handwriting';
}
.try_new_new_selected .try_new_page_category {
  padding-bottom: 0;
}
.try_new_page_category {
  position: relative;
  margin-top: 30px;
  background-color: #ededed;
  overflow: hidden;
}
.try_new_page_category .product_list_box {
  margin-right: -20px;
}
.try_new_page_category .page_category .product_list_box li.pro_items_box.two_pro_category {
  width: 610px;
  height: 300px;
}

.try_new_page_category .page_category .product_list_box li.pro_items_box {
  position: relative;
  float: left;
  margin: 0 10px 10px 0;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  z-index: 1;
  box-shadow: 0 0 60px #fff inset;
  transition: box-shadow .2s linear 0s;
}
.product_list_box li.pro_items_box.two_pro_category .pro_items {
  width: 610px;
  height: 220px;
  padding: 40px 0;
}
.product_list_box li.pro_items_box .pro_items {
  position: absolute;
  top: 0;
  left: 0;
}
.product_list_box li.pro_items_box .pro_items .pro_link {
  display: block;
}
.try_new_page_category .two_pro_category .pro_img_con {
  float: left;
  margin: 0 35px 0 40px;
}
.try_new_page_category .pro_img_con {
  position: relative;
  width: 220px;
  height: 220px;
}
.product_list_box li.pro_items_box .pro_items .pro_link img {
  width: 220px;
  height: 220px;
  background: url(http://images/loading.gif?3dfe709) no-repeat center;
}
.try_new_page_category .product_list_box .pro_items_box .pro_img, .product_list_box .pro_items_box .pro_img_link {
  display: block;
}
.try_new_page_category .product_list_box .two_pro_category .pro_items_detail {
  position: relative;
  width: 250px;
  height: 220px;
}
.try_new_page_category .product_list_box .pro_items_box.two_pro_category .pro_tit {
  height: 48px;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}
.try_new_page_category .product_list_box .pro_items_box .pro_tit {
  width: 100%;
  color: #333;
  font: normal 12px/18px "Microsoft YaHei";
  overflow: hidden;
}
.try_new_page_category .product_list_box .pro_items_box.two_pro_category .for_sale {
  position: relative;
  height: 24px;
  margin-top: 20px;
  padding-top: 20px;
  overflow: hidden;
  color: #999;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.try_new_page_category .product_list_box .pro_items_box.two_pro_category .for_sale em {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 80px;
  height: 1px;
  background-color: #dbdbdb;
  font-size: 0;
}
.try_new_page_category .product_list_box .pro_items_box.two_pro_category .for_sale span {
  position: relative;
  float: left;
  max-width: 220px;
  padding: 0 10px;
  margin-left: 6px;
  background-color: #ff5a3e;
  background: -webkit-linear-gradient(left,#ed5151 0%,#ed4dc8 100%);
  background: linear-gradient(to right,#ed5151 0%,#ed4dc8 100%);
  color: #fff;
}
.try_new_page_category .pro_items_box .cart-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  color: #ff4e48;
}
.try_new_page_category .product_list_box .pro_items_box.two_pro_category .price_box {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
}
.try_new_page_category .product_list_box .pro_items_box .price_box {
  display: block;
  margin-top: 10px;
  color: #ed1b2f;
  text-align: center;
}
.try_new_page_category .pro_items_box.two_pro_category .price_box .price {
  height: 40px;
}

.try_new_page_category .pro_items_box .price_box .price {
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  font-family: 'Microsoft YaHei';
}
.try_new_page_category .pro_items_box.two_pro_category .price_box .price span {
  font-size: 20px;
  line-height: 40px;
}
.try_new_icon {
  background: url(https://img.yihaodianimg.com/front-channel/channel/likenew/images/icons.png?3dfe709);
  
}
.try_new_page_category .page_category .product_list_box li.pro_items_box.two_pro_category {
  width: 610px;
  height: 300px;
}
.try_new_page_category .page_category .product_list_box li.pro_items_box {
  position: relative;
  float: left;
  margin: 0 10px 10px 0;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  z-index: 1;
  box-shadow: 0 0 60px #fff inset;
  transition: box-shadow .2s linear 0s;
}
.product_list_box li.pro_items_box.two_pro_category .pro_items {
  width: 610px;
  height: 220px;
  padding: 40px 0;
}

.product_list_box li.pro_items_box .pro_items {
  position: absolute;
  top: 0;
  left: 0;
}
.product_list_box li.pro_items_box .pro_items .pro_link {
  display: block;
}

.try_new_page_category .two_pro_category .pro_img_con {
  float: left;
  margin: 0 35px 0 40px;
}
.try_new_page_category .pro_img_con {
  position: relative;
  width: 220px;
  height: 220px;
}
.product_list_box li.pro_items_box .pro_items .pro_link img {
  width: 220px;
  height: 220px;
  background: url(http://img.yihaodianimg.com/front-channel/channel/likenew/images/loading.gif?3dfe709) no-repeat center;
}
.try_new_page_category .product_list_box .two_pro_category .pro_items_detail {
  position: relative;
  width: 250px;
  height: 220px;
}
.product_list_box li.pro_items_box .pro_items .pro_link {
  display: block;
}
.try_new_page_category .product_list_box .pro_items_box.two_pro_category .pro_tit {
  height: 48px;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}
.try_new_new_category .new_category_center {
  height: 76px;
  padding-top: 64px;
  text-align: center;
}
.try_new_new_category .new_category_center .new_category_hd {
  display: inline-block;
  height: 40px;
}
.new_category_center .new_category_hd i.fire_img {
  width: 20px;
  height: 40px;
  margin-right: 9px;
  background-position: -2px 6px;
}
.placeholder_box {
  position: relative;
  height: 62px;
  margin-top: 38px;
  background-color: #fff;
  z-index: 100;
}
.try_new_page_category {
  position: relative;
  padding-bottom: 194px;
  margin-top: 30px;
  background-color: #ededed;
  overflow: hidden;
}
.try_new_page_category .product_list_box {
  margin-right: -20px;
}
.try_new_page_category .page_category .product_list_box li.pro_items_box {
  position: relative;
  float: left;
  width: 299px;
  height: 400px;
  margin: 0 10px 10px 0;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  z-index: 1;
  box-shadow: 0 0 60px #fff inset;
  transition: box-shadow .2s linear 0s;
}
.product_list_box li.pro_items_box .pro_items {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 320px;
  padding: 40px;
}
.try_new_page_category .product_list_box .pro_items_box .pro_tit {
  width: 100%;
  height: 36px;
  margin-top: 30px;
  color: #333;
  font: normal 12px/18px "Microsoft YaHei";
  /* overflow: hidden; */
}
.try_new_page_category .product_list_box .pro_items_box .price_box {
  display: block;
  height: 14px;
  margin-top: 10px;
  color: #ed1b2f;
  text-align: center;
}
.try_new_page_category .pro_items_box .price_box .price {
  height: 14px;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  font-family: 'Microsoft YaHei';
}
.try_new_page_category .product_list_box .pro_items_box .buy_box {
  font-family: SimSun;
  margin-top: 10px;
  text-align: center;
}
.try_new_page_category .product_list_box .pro_items_box .buy_btn {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  width: 90px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 15px;
  background-image: linear-gradient(90deg,#fe7e22,#ed514c);
  background-color: #ed514c;
}
.try_new_page_category .loading_box {
  position: absolute;
  left: 50%;
  bottom: 90px;
  width: 370px;
  height: 30px;
  margin-left: -185px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}
.try_new_page_category .loading_status {
  width: 370px;
  height: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}
.try_new_page_category .loading_status span {
  position: relative;
  top: 15px;
  padding: 0 30px;
  background-color: #ededed;
  line-height: 30px;
  font-size: 18px;
  color: #757575;
}
/* 底部css */
/* service begin */
.ft_footer_service {
  padding: 30px 0;
  border-bottom: 1px solid #ebebeb;
} 
.ft_footer_service a{
  float: left;
  display: block;
  _display: inline;
  width: 205px;
  overflow: hidden;
  margin: 0 51px;
}  
.ft_footer_service a img {
  float: left;
  display: block;
  width: 66px;
  height: 66px;
  margin-right: 15px;
} 
.ft_footer_service a b {
  display: block;
  margin-top: 10px;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  color: #333;
}
.ft_footer_service a span {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #999;
  line-height: 26px;
}
/* sercice end */

/* 服务列表开始*/
.ft_service_link {
  padding: 20px 0 20px;
  overflow: hidden;
}
.ft_service_link .ft_help_list{
  padding-left:15px;
}
.ft_service_link .ft_help_list dl{
  float: left;
  width:195px;
  display: block;
}
.ft_service_link dl dt {
  height: 32px;
  padding: 0 8px;
  font-size: 14px;
  color: #666;
  line-height: 32px;
  overflow: hidden;
  font-family: "Microsoft YaHei";
  color: #666;
  font-weight: bold;
}
.ft_service_link dl dt {
  height: 32px;
  padding: 0 8px;
  font-size: 14px;
  color: #666;
  line-height: 32px;
  overflow: hidden;
  font-family: "Microsoft YaHei";
  color: #666;
  font-weight: bold;
}
.ft_service_link dl dd {
  height: 24px;
  padding: 0 8px;
  line-height: 24px;
  overflow: hidden;
  white-space: normal;
  font-size: 12px;
}
/* 服务列表结束 */
/* footer 二维码 begin */
.ft_code_wrap{
  width:280px;
  float: left;
  overflow: hidder;
  margin-right: -50px;
}
.ft_code_wrap .ft_mobile_code {
  float: left;
  margin-right: 50px;
  line-height: 32px;
  font-size: 14px;
  font-weight: bold;
  color: #666;
}
.ft_mobile_code img {
  width: 90px;
  height: 90px;
}
#footer p{
  color: #666;
  text-align: center;
  text-indent: 0;
  line-height: 100%;
  margin: 15px 0;
  padding: 0
}
.ft_footer_link a {
  color: #666;
  margin: 0px 10px;
}
.ft_footer_link a:hover{
  color: red;
}
.ft_pic_link {
  display: block;
  padding: 10px 0 20px;
  text-align: center;
  font-size: 0;
}
.ft_pic_link a {
  display: inline-block;
  margin: 0 4px;
}
/*footer end*/
