.hd_top_bar{
  height: 30px;
  border-bottom:solid 1px #e5e5e5; 
  background:#f4f4f4;
  line-height: 30px;
}
.hd_indexprovce{
  position: relative;
  z-index: 600;
}
.hd_indexprovce .hd_topbar_city{
  float: left;
  display: block;
  height: 30px;
  padding: 0 10px;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
  color: #666;
}
.hd_indexprovce a:hover{
  color: red;
}
.hd_indexprovce i{
  color: red;
}
.hd_city_select{
  position: absolute;
  z-index: -1;
  width: 720px;
  background: #fff;
  border: solid 1px #dbdbdb;
  top: 29px;
  left: 0;
  /* overflow: hidden; */
}
.hd_indexprovce a:focus{
  background:#ffffff;
}
.hd_city_select .hd_city_close{
  position: absolute;
  top: 5px;
  right: 5px;
  height: 20px;
  padding: 5px;
  font-family: "Tahoma";
  font-size: 20px;
  color:#ccc;
  line-height: 20px;
}
.hd_cur_city_wrap{
  padding: 15px 20px 0;
  height: 30px;
}
.hd_cur_city{
  height: 28px;
  padding-right: 10px;
  line-height: 28px;
  color: #666;
  font-weight: bold;
}
.hd_city_search{
  position: relative;
}
.hd_city_serch .iconfont{
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 26px;
  text-align: center;
  color: #dcdcdc;
  font-size: 16px;
}
.hd_city_input{
  position: relative;
  float: left;
  height: 26px;
  border: 1px solid #ccc;
}
.hd_city_select input{
  display: block;
  height: 26px;
  width: 135px;
  border: none;
  padding: 0 8px 0 5px;
  vertical-align : middle;
  color: #333;
}
.hd_city_input .hd_city_close{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 26px;
  padding: 0 10px;
  font-family: "Tahoma";
  font-size: 16px;
  color: #ccc;
  line-height: 26px;
  cursor: pointer;
}