/* 导航头部样式 */
.hd_top_bar{
  height: 30px;
  border-bottom:solid 1px #e5e5e5; 
  background:#f4f4f4;
  line-height: 30px;
}
.hd_indexprovce{
  position: relative;
  z-index: 600;
}
.hd_indexprovce .hd_topbar_city{
  float: left;
  display: block;
  height: 30px;
  padding: 0 10px;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
  color: #666;
}
.hd_indexprovce a:hover{
  color: red;
}
.hd_indexprovce i{
  color: red;
}
.hd_city_select{
  position: absolute;
  z-index: -1;
  width: 720px;
  background: #fff;
  border: solid 1px #dbdbdb;
  top: 29px;
  left: 0;
  /* overflow: hidden; */
}
/* .hd_indexprovce a:focus{
  background:#ffffff;
} */
.hd_city_select .hd_city_close{
  position: absolute;
  top: 5px;
  right: 5px;
  height: 20px;
  padding: 5px;
  font-family: "Tahoma";
  font-size: 20px;
  color:#ccc;
  line-height: 20px;
}
.hd_cur_city_wrap{
  padding: 15px 20px 0;
  height: 30px;
}
.hd_cur_city{
  height: 28px;
  padding-right: 10px;
  line-height: 28px;
  color: #666;
  font-weight: bold;
}
.hd_city_search{
  position: relative;
}
.hd_city_search .iconfont{
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 26px;
  text-align: center;
  color: #dcdcdc;
  font-size: 16px;
}
.hd_city_input{
  position: relative;
  float: left;
  height: 26px;
  border: 1px solid #ccc;
}
.hd_city_select input{
  display: block;
  height: 26px;
  width: 135px;
  border: none;
  padding: 0 8px 0 5px;
  vertical-align : middle;
  color: #333;
}
.hd_city_input .hd_citys_close{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 26px;
  padding: 0 10px;
  font-family: "Tahoma";
  font-size: 16px;
  color: #ccc;
  line-height: 26px;
  cursor: pointer;
}
.hd_city_suggest{
  position: absolute;
  top: 27px;
  left: 0;
  z-index: 580;
  width: 148px;
  max-height: 168px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  color: #333;
}
.hd_city_suggest a{
  display: block;
  height: 28px;
  padding: 0 10px;
  line-height: 28px;
}
.hd_hot_city_wrap{
  margin-left: 20px;
  border-bottom: 1px dotted #e0e0e0;
  padding: 12px 0 5px;
  line-height: 20px;
}
.hd_hot_city{
  padding-right: 10px;
  color: #666;
  font-weight: bold;
}
.hd_hotcity_list{
  width:610px;
}
.hd_hotcity_list a{
  float: left;
  padding: 0 25px 5px 0;
  color: #666;
  overflow: hidden;
  line-height: 20px;
}
.hd_letter_search{
  margin: 0 20px;
  padding: 12px 0 0;
}
.hd_city_select .hd_letter_tit {
  float: left;
  padding-right: 10px;
  color: #666;
  font-weight: bold;
  line-height: 20px;
}
.hd_top_bar .hd_city_select .hd_city_initial a{
  float: left;
  width: 22px;
  height: 20px;
  margin: 0 5px 5px 0;
  background-color: #eee;
  color: gray;
  text-align: center;
  line-height: 20px;
  font-weight: "Arial";
}
.hd_top_bar .hd_city_select .hd_city_initial a:hover{
  background-color: #ff4040;
  color: #fff;
}
.hd_city_list{
  position: relative;
  height: 245px;
  overflow: hidden;
  margin: 0 0 10px 20px;
}
.hd_city_list ul{
  position: relative;
  height: 215px;
  padding: 10px 0;
  overflow: auto;
}
.hd_city_list li{
  position: relative;
  margin-bottom: 10px;
  padding-left: 30px;
}
.hd_city_list .hd_city_innitial_tit{
  position: absolute;
  left: 3px;
  top: 2px;
  font-size: 18px;
  font-family: "Arial";
  color: #ccc;
}
.hd_city a{
  float: left;
  padding: 0 30px 0 0;
  white-space: nowrap;
  color: #666;
}
/* 登录及其右侧部分部分样式 */
.hd_topbar_right .hd_hi{
  color: #ff4040;
}
.hd_topbar_right .hd_unlogin{
  padding: 0 10px;
  float: left;
}
.hd_topbar_right .hd_dl{
  color: #ff4040;
}
.hd_topbar_right a{
  color: #666;
}
.hd_topbar_right .iconfont {
  vertical-align: top;
  color: #aaa;
  font-size: 14px;
}
.hd_topbar_right li:hover .iconfont{
  color:#ff4040;
}
.hd_topbar_right li:hover a{
  color:#ff4040;
}
.hd_menu{
  float: left;
  min-width: 66px;
  height: 30px;
  padding: 0 10px;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
}
.hd_topbar_right li {
  position: relative;
  z-index: 600;
  float: left;
  line-height: 30px;
  height: 30px;
}
.hd_topbar_right .iconfont{
  vertical-align: top;
  color: #aaa;
  font-size: 14px;
}
.hd_menu_list {
  position: absolute;
  top: 30px;
  left: -1px;
  display: none;
  width: 88px;
  padding: 5px 0;
  border: 1px solid #dbdbdb;
  border-top: 0 none;
  background-color: #fff;
}
.hd_top_bar .hd_topbar_right .hd_menu_list a {
  display: block;
  padding: 0 0 0 10px;
  line-height: 26px;
}
.lala{
  border-right: 1px solid #f4f4f4;
  border-left: 1px solid #f4f4f4;
}
.hd_has_child:hover .hd_menu_list{
  display: block;
}
.activeBorder{
  background: #fff;
  border-right: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
}
.hd_topbar_right .hd_title {
  float: left;
  min-width: 66px;
  height: 30px;
  padding: 0 10px;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
}
.hd_menu .iconfont{
  width: 14px;
  height: 30px;
  display: inline-block;
}
/* css实现小图标的旋转已弃用 */
/* .hd_has_child:hover .hd_menu .iconfont{
  display: inline-block;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform:rotate(180deg);
  transform:rotate(180deg);
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear,-webkit-transform .2s linear,-moz-transform .2s linear,-o-transform .2s linear;
  cursor: pointer;
} */
.hd_qrcode_bg{
  position: absolute;
  left: -10px;
  top: 30px;
  /* display: none; */
  padding: 15px 9px 9px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}
.hd_qrcode_bg p{
  text-align: center;
  line-height: 12px;
  margin-bottom: 7px;
}
/* 小三角 */
.hd_topbar_right .hd_qrcode_bg .triangle {
  width: 0;
  height: 0;
  border-top: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  position: absolute;
  top: -7px;
  left: 46px;
}
.hd_header {
  height: 150px;
  background-repeat: no-repeat;
}
.hd_logo_area{
  width: 205px;
  height: 150px;
}
.hd_header .hd_logo_area .hd_logo {
  position: relative;
  display: block;
  width: 205px;
  height: 150px;
}
.hd_header .hd_logo_area .hd_logo img {
  position: absolute;
  top: 0;
  left: -28px;
  width: 261px;
  height: 150px;
}
.hd_header .hd_header_right {
  float: right;
  width: 974px;
  padding: 32px 14px 0 35px;
}
.hd_head_search{
  position: relative;
  z-index: 501;
  padding-top: 40px;
  float: left;
  width: 754px;
}
.hd_search_from{
  position: absolute;
  left: 0;
  top: 0;
}
.hd_fixed_logo{
  display: none;
  float: left;
  margin-right: 47px;
}
.hd_search_wrap {
  position: relative;
  z-index: 501;
  padding: 2px;
  border-radius: 2px;
  background-color: #ff4040;
}
.hd_search_wrap .hd_search_ipt{
  float: left;
  width: 685px;
  height: 36px;
  outline: 0 none;
  border: 0 none;
  padding-left: 15px;
  font-size: 14px;
  color: #aaa;
  line-height: 36px;
}
.hd_header .hd_search_wrap .hd_search_btn {
  float: left;
  width: 50px;
  height: 36px;
  border: 0 none;
  background-color: #ff4040;
  text-align: center;
  line-height: 36px;
  color: #fff;
  cursor: pointer;
}
.hd_search_wrap .hd_search_btn i {
  font-size: 24px;
  text-decoration: none;
  font-style: normal;
}
.hd_search_tips_result {
  position: absolute;
  top: 38px;
  left: 2px;
  z-index: 520;
  width: 700px;
  background: #fff;
}
.hd_search_history_new {
  position: absolute;
  top: 0;
  left: 0;
  width: 698px;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #f8f8f8;
}
.hd_search_history_new .hd_s_history {
    float: left;
    width: 417px;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
    border-right: 1px solid #e5e5e5;
    background-color: #fff;
}
.hd_search_history_new .hd_s_history dt {
  height: 16px;
  padding: 12px 6px 8px 15px;
  color: #999;
  line-height: 16px;
}
.hd_search_history_new .hd_h_search{
  float: right;
  width: 262px;
  overflow: hidden;
  margin-bottom: -9999px;
  margin-left: -1px;
  padding: 0 9px 9999px;
  border-left: 1px solid #e5e5e5;
}
.hd_h_search dt{
  padding: 12px 6px 13px 15px;
  color: #999;
} 
.hd_h_search dd{
  float: left;
  margin: 0 4px 12px;
}
.hd_search_history_new .hd_h_search dd a, .search_classify_detail .hd_property_list dd a {
  display: block;
  float: left;
  max-width: 160px;
  height: 22px;
  padding: 0 10px;
  border: 1px solid #e1e1e1;
  background: #FFF;
  line-height: 22px;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  text-indent: 0;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  word-break: break-all;
}
.hd_search_history_new .hd_h_search dd a:hover{
  border: 1px solid #e60012;
  color: #e60012; 
}
.hd_header .hd_hot_search {
  height: 36px;
  overflow: hidden;
}
.hd_hot_search a {
  float: left;
  margin-right: 15px;
  line-height: 36px;
  color: #aaa;
  font-size: 14px;
}
.hd_hot_search a:hover {
  color: #ff4040;
}
.hd_mini_cart {
  position: relative;
  z-index: 501;
  float: right;
}
.hd_mini_cart .hd_prism_cart em {
  margin-right: 12px;
  font-size: 20px;
}
.hd_mini_cart .hd_prism_cart{
  display: block;
  width: 130px;
  height: 20px;
  overflow: hidden;
  padding: 9px 0 9px;
  border: 1px solid #d7d7d7;
  background: #fff;
  text-align: center;
  line-height: 20px;
  color: #666;
  font-size: 16px;
}
.hd_header_nav {
  height: 40px;
  overflow: hidden;
  line-height: 40px;
}
.hd_header_nav li{
  float: left;
  margin-right: 30px;
  font-size: 16px;
}

/* 导航头部css结束 */

/* content start */
/* 大促皮肤 begin */
.first_screen_main{
  position: relative;
  min-width: 1228px;
  height: 400px;
}
.promotion_skin{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 540px;
  overflow: hidden;
}
.left_promotion_skin{
  background-image: url('http://img14.360buyimg.com/img/jfs/t27820/207/537754879/38860/e51d68d0/5bb0e209N88c17752.jpg');
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 0;
  width: 350px;
  height: 540px;
  margin-left: -964px;
}
.right_promotion_skin{
  background-image:url('http://img20.360buyimg.com/img/jfs/t24847/151/1435761985/39639/46d12fb9/5bb0e1b0Nfd697643.jpg');
  background-repeat: no-repeat;
  position: absolute;
  right: 50%;
  top: 0;
  width: 350px;
  height: 540px;
  margin-right: -964px;
}
/* 大促皮肤结束 */
/* banner 图左边的导航列表 start */
.position_wrap{
  position: relative;
  z-index: 100;
}
.mod_hd_allsort{
  position: absolute;
  z-index: 103;
  width: 205px;
  height: 400px;
  left: 0;
  background-color: rgba(48,48,48,0.9);
  clear: left;
  *zoom: 1;
}
.hd_allsort{
  padding-top: 2px;
}
.mod_hd_allsort .hd_allsort li {
  margin-bottom: 1px;
  display: block;
}
.mod_hd_allsort .hd_allsort li h3 {
  height: 32px;
  overflow: hidden;
  padding: 0 10px 0 0;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  -webkit-transition: all .1s ease-out 0s;
  -o-transition: all .1s ease-out 0s;
  -moz-transition: all .1s ease-out 0s;
  transition: all .1s ease-out 0s;
}
.mod_hd_allsort .hd_allsort li h3 .iconfont {
  display: inline-block;
  width: 20px;
  margin: 0 14px;
  text-align: right;
  vertical-align: middle;
  text-decoration: none;
  font-family: "iconfont";
  font-size: 20px;
  font-style: normal;
  color: #737373;
  -webkit-font-smoothing: antialiased;
}
.mod_hd_allsort .hd_allsort li h3 a {
  display: inline-block;
  font-weight: normal;
  font-size: 12px;
  color: #fff;
  white-space: nowrap;
  font-family: 'microsoft yahei';
}
/* banner 图左边的导航列表 end */
/* banner 图左边的导航列表跟随的分页 */
.hd_show_sort{
  position: absolute;
  top: 0;
  left: 205px;
  width: 1024px;
  min-height: 390px;
  padding-top: 10px;
  z-index: 500;
  overflow: hidden;
  border: 0;
  box-shadow: 4px 0px 6px rgba(0,0,0,0.2);
  background-color: #fff;
  zoom: 1;
}
.hd_good_category{
  float: left;
  width: 747px;
  padding: 2px 14px 10px 14px;
  border-right: 1px solid #f2f2f2;
}
.hd_good_category dt{
  float: left;
  width: 72px;
  height: 39px;
  padding-right: 9px;
  line-height: 38px;
  font-weight: bold;
  text-align: right;
  overflow: hidden;
}
.hd_good_category dt a{
  color:#666;
}
.hd_good_category dt i{
  font-family: "\5b8b\4f53";
  font-style: normal;
  color: #666;
  display: inline-block;
  width: 12.23px;
  height: 12px;
}
.hd_good_category dd{
  float: left;
  display: block;
  width: 657px;
  padding: 7px 0;
  border-bottom:1px solid #f2f2f2;
  line-height: 24px;
}
.hd_good_category dd a{
  color: #666;
  margin:0 9px;
  display: inline-block;
}
.hd_good_logo{
  width: 228px;
  padding-left: 20px;
  padding-top: 6px;
  font-size: 0;
}
.mod_hd_allsort .seller_logo a {
  display: inline-block;
  width: 80px;
  height: 32px;
  margin: 0 19px 12px 10px;
}
.seller_pic{
  padding-top:2px;
  width: 205px;
  height: 110px;
  display: inline-block;
  margin-bottom: 14px;
}
.seller_pic a{
  display: inline-block;
  width: 205px;
  height: 110px;
  margin-bottom: 14px;
}
.actives{
  color:#666!important;
} 
/* banner 图左边的导航列表跟随的分页结束 */
/* 个人中心开始 */
.mod_personal_center{
  position: absolute;
  width: 205px;
  padding-top: 56px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  background-color: #fff;
  right: 20px;
  z-index: 120;
  background-image: url('http://img.yihaodianimg.com/front-homepage/index/images/vip_bg2.png?801dc06');
  background-repeat: no-repeat;
}    
.avata_pic_wrap{
  position: absolute;
  width: 64px;
  height: 64px;
  padding: 4px;
  border-radius: 50%;
  top: -26px;
  left: 67px;
  filter: none;
  background: rgba(0,0,0,0.1);
}  
.avata_pic_wrap a{
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  /* background: url('http://img.yihaodianimg.com/front-homepage/index/images/globalhead_sprite.png?801dc06') no-repeat 0 -150px; */
}   
.avata_pic_wrap img{
  width: 64px;
  height: 64px;
}              
.unlogin_box{
  padding-bottom: 30px;
  line-height: 20px;
  text-align: center;
  color: #999;
}
.tips{
  height: 16px;
  padding: 0px 5px;
  line-height: 16px;
  overflow: hidden;
}
.btn_wrap{
  margin-top:13px;
}
.btn_wrap a{
  display: inline-block;
  width: 68px;
  height: 24px;
  margin: 0 5px;
  color:  #ff4040;
  border: 1px solid #ff4040;
  border-radius: 13px;
  text-align: center;
}
.notice_list{
  height: 72px;
  padding: 9px 12px;
  overflow: hidden;
}
.notice_list a em{
  color: #ff4040;
}
/* 个人中心样式结束 */
/* banner切换样式开始 */
.mod_promo_show{
  position: relative;
  height: 400px;
  z-index: 90;
}
.promo_wrapper{
  position: relative;
  z-index: 1;
}
.mod_promo_show .promo_wrapper li{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.mod_promo_show .promo_wrapper li a{
  display: block;
  width: 1228px;
  height: 400px;
  margin: 0 auto;
}
.mod_promo_show .promo_wrapper .promo_img{
  height: 400px;
  margin-left: 205px;
}
.mod_promo_show .promonum_show{
  height: 16px;
  position: absolute;
  left: 50%;
  z-index: 2;
  bottom: 15px;
  width: auto;
}
.mod_promo_show .promonum_show ol{
  /* float: left; */
  position: relative;
  left: -50%;
  text-align: right;
  white-space: nowrap; /*规定段落文本不能进行换行 */
}
.mod_promo_show .promonum_show ol li {
  display: inline-block;
  overflow: hidden;
  width: 12px;
  height: 12px;
  margin: 0 3px;
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
}
.mod_promo_show .promonum_show ol li i {
  border-radius: 50%;
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: .7;
}
.mod_promo_show a.show_next, .mod_promo_show a.show_pre{
  position: absolute;
  width: 44px;
  height: 44px;
  top: 178px;
  left: 50%;
  z-index: 4;
  border-radius: 50%;
  background: rgba(255,255,255,0.4);
  text-align: center;
  line-height: 44px;
}
.mod_promo_show a.show_next {
  margin-left: 335px;
  display:none;
}
.mod_promo_show a.show_next .iconfont, .mod_promo_show a.show_pre .iconfont {
  font-size: 28px;
  opacity: .3;
}
.mod_promo_show a.show_pre {
  margin-left: -399px;
  display:none;
}
/* banner图样式结束 */
/* 1号抢购样式开始 */
.mod_seckill{
  margin-top: 10px;
}
.banner_wrapper{
  position: relative;
  width: 205px;
  float: left;
  height: 140px;
}
.banner_wrapper img{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.banner_wrapper .confirm_btn{
  position: absolute;
  width: 60px;
  height: 25px;
  padding-right: 20px;
  background: #b5012f url('http://img.yihaodianimg.com/front-homepage/index/images/btn_more.png?801dc06') no-repeat 66px center;
  border-radius: 13px;
  left: 61px;
  bottom: 10px;
  color: #fff;
  line-height: 25px;
  text-align: right;
}
.seckill_list_wrap{
  position: relative;
  z-index: 10;
  float: left;
  width: 1023px;
  height: 140px;
  overflow: hidden;
  background: #fff;
}
.seckill_list_wrap a.pre,a.next{
  position: absolute;
    z-index: 115;
    top: 50px;
    width: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #333;
    font-size: 20px;
    transition: transform .4s ease;
}
.seckill_list_wrap a.pre{
  left: -30px;
}
.seckill_list_wrap a.next{
  right: -30px;
}
.mod_seckill .seckill_list_wrap .next_clickable{
  transform: translate3d(-35px,0,0);
  background-color: rgba(0,0,0,0.15);
  display: block;
}
.mod_seckill .seckill_list_wrap a.prev_clickable{
  transform: translate3d(35px,0,0);
  background-color: rgba(0,0,0,0.15);
  display: block;
}
.seckill_list_wrap ul{
  position: absolute;
  left: 0;
  right: 0;
  width: 99999px;
}
.dotted_line{
  position: absolute;
  top: 34px;
  left: -1px;
  height: 70px;
  width:1px;
  border: dotted 1px #e5e5e5;
}
.mod_seckill .seckill_list li {
  position: relative;
  z-index: 10;
  width: 256px;
  float: left;
}
.seckill_list .prod a{
  display: block;
  padding:15px 20px;
}
.pro_detail{
  float:left;
  width: 100px;

}
.seckill_list .pro_name {
  height: 40px;
  overflow: hidden;
  margin-bottom: 12px;
  color: #666;
  font-size: 14px;
  line-height: 20px;
}
.seckill_list .pro_price {
  margin-bottom: 2px;
  color: #ff4040;
  font-size: 14px;
  font-weight: bold;
  font-family: "Microsoft Yahei";
  line-height: 18px;
}
.mod_seckill .seckill_list .reference_price {
  width: 100px;
  height: 20px;
  overflow: hidden;
  color: #aaa;
  font-family: "Microsoft Yahei";
  line-height: 20px;
  white-space: nowrap;
}
.mod_seckill .seckill_list .pro_pic {
  float: right;
  width: 110px;
  height: 110px;
  position: relative;
  transition: transform .4s ease;
}
.mod_seckill .seckill_list .marking_lable {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 32px;
  height: 28px;
  padding: 5px 2px 4px 3px;
  overflow: hidden;
  background: url('http://img.yihaodianimg.com/front-homepage/index/images/globalhead_sprite.png?801dc06') no-repeat -160px -150px;
  line-height: 14px;
  text-align: center;
  color: #fff;
}
/* 1号抢购样式结束 */

/* 大促品牌日样式开始 */
.mod_brand_sale{
  margin-top:20px;
}
.left_banner{
  position: relative;
  width: 267px;
  height: 400px;
  margin-right: 12px;
  overflow: hidden;
}
.left_banner img{
  width: 267px;
  height: 400px;
}
.brand_caption{
  position: absolute;
  left: 50%;
  bottom: 34px;
  margin-left: -100px;
  width: 200px;
  height: 100px;
  background: rgba(255,255,255,0.8);
  text-align: center;
}
.mod_brand_sale h4 {
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-weight: normal;
}
.brand_caption h4{
  margin-top: 20px;
  font-size: 20px;
  color: #333;
  line-height: 24px;
  height: 32px;
  font-weight: normal;
}
.brand_caption .cut_line{
  width: 30px;
  height: 10px;
  margin:2px auto 0;
  border-top:1px solid #333;
  overflow: hidden;
}
.brand_caption .cut_tit{
  height: 16px;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  line-height: 14px;
}
.mod_brand_sale .group_buy {
  float: left;
  width: 484px;
  height: 400px;
  background: #fff url('https://d8.yihaodianimg.com/N10/M02/92/0C/ChEi3FjCUa2ALuvGAAAG6sky0F026600.png') no-repeat center top;
}
.group_buy h4 a{
  color: #fff;
  cursor: pointer;
}
.mod_brand_sale h4 em{
  display: inline-block;
  width: 140px;
  position: relative;
  top: -3px;
  margin-top: -3px;
  font-size: 18px;
  text-align: center;
}
.group_buy h4 a em{
  background:#fb6233;
}
.mod_brand_sale h4 em i {
  margin-right: 8px;
  font-size: 16px;
  font-weight: bold;
}
.mod_brand_sale .group_buy h4 {
  margin-bottom: 7px;
  border-top: 1px solid #fb744b;
}
.mod_brand_sale h4 em .left_triangle {
  position: absolute;
  top: 0;
  left: -4px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-bottom: 4px solid #c84e4e;
  border-left: 4px solid transparent;
  font-size: 0;
  line-height: 0;
}
.mod_brand_sale h4 em .right_triangle {
  position: absolute;
  top: 0;
  right: -4px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-bottom: 4px solid #c84e4e;
  border-right: 4px solid transparent;
  font-size: 0;
  line-height: 0;
}
.group_today{
  position: relative;
  width: 250px;
  border-right: 1px solid #f0f0f0;
  float: left;
  overflow: hidden;
}
.group_today img{
  width: 250px;
  height: 360px;
}
.group_variety{
  position: relative;
  width: 233px;
  /* background:pink; */
  margin-top: 18px;
}
.group_variety a{
  padding: 0 18px 0 20px;
  height: 180px;
  display: block;
  border-bottom: 1px solid #f0f0f0;
}
.group_buy .group_title{
  font-size: 18px;
  color: #ec3639;
  line-height: 18px;
  margin-bottom: 10px;
  height: 18px;
  overflow: hidden;
}
.mod_brand_sale .group_buy .sub_tit {
  position: relative;
  z-index: 105;
  width: 90px;
  height: 40px;
  overflow: hidden;
  font-size: 14px;
  color: #333;
  line-height: 20px;
}
.mod_brand_sale .group_buy .group_variety img {
  position: absolute;
  right: 18px;
  bottom: 10px;
  transition: transform .4s ease;
 }
.group_brand{
  /* background: #c84e4e; */
  width: 232px;
  position: relative;
  float: left;
}
.mod_brand_sale .group_buy .group_brand img {
  position: absolute;
  right: 18px;
  bottom: 15px;
  transition: transform .4s ease;
}
.mod_brand_sale .group_buy .group_brand a {
  display: block;
  height: 161px;
  padding: 0 18px 0 20px;
}
.mod_brand_sale .area_rank{
  width: 453px;
  height: 400px;
  background: #fff url('https://d8.yihaodianimg.com/N10/M02/92/0C/ChEi3FjCUa2ALuvGAAAG6sky0F026600.png') no-repeat center top;
}
.mod_brand_sale .area_rank h4{
  position: relative;
  border-top: 1px solid #f22e31;
}
.mod_brand_sale .area_rank h4 a em{
  background: #f22e31;
  color: #fff;
}
.mod_brand_sale .area_rank h4 a em i{
  color: #fff;
  font-size: 20px;
}
.mod_brand_sale .area_rank a.more {
  position: absolute;
  top: 7px;
  right: 14px;
  font-family: "Tahoma";
  color: #999;
  line-height: 20px;
  font-size: 12px;
}
.mod_brand_sale .area_rank a.more span {
  margin-left: 5px;
  font-family: "\5b8b\4f53";
}
.mod_brand_sale .area_rank a.more:hover{
  color:#ff4040;
}
.area_rank_list {
  margin-top: 5px;
}
.mod_brand_sale .rank_tab {
  position: relative;
  height: 35px;
  overflow: hidden;
  margin: 0 22px 0 21px;
  line-height: 34px;
}
.mod_brand_sale .rank_tab ul {
  border-bottom: 1px solid #eee;
}
.mod_brand_sale .rank_tab li {
  float: left;
  width: 82px;
  text-align: center;
}
.mod_brand_sale .rank_tab li a {
  display: block;
  color: #666;
}
.mod_brand_sale .rank_tab li.curs a {
  color: #f22e31;
}
.mod_brand_sale .rank_tab .cur_item {
position: absolute;
left: 0;
top: 33px;
width: 82px;
border-top: 2px solid #f22e31;
}
.mod_brand_sale .rank_content {
height: 316px;
padding: 10px 2px 0 1px;
}
.mod_brand_sale .rank_content li {
_display: inline;
float: left;
width: 100px;
margin: 15px 25px;
cursor: pointer;
}
.mod_brand_sale .rank_content li a {
position: relative;
display: block;
text-align: center;
}
.mod_brand_sale .rank_content li img {
width: 100px;
height: 100px;
}
.mod_brand_sale .rank_content li .pro_name {
  height: 18px;
  overflow: hidden;
  margin-top: 10px;
  line-height: 18px;
}
.mod_brand_sale .rank_content li a .discount_info {
  padding: 0px 6px;
  background-color: #fb6233;
  color: #fff;
  position: absolute;
  left: 0px;
  bottom: 29px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.mod_brand_sale .rank_content li a .no_1 {
  background: url('https://img.yihaodianimg.com/front-homepage/index/images/indexbody_sprite.png?801dc06') no-repeat -60px 0;
}
.mod_brand_sale .rank_content li a i {
  position: absolute;
  top: -6px;
  left: -2px;
  width: 19px;
  height: 16px;
  overflow: hidden;
  line-height: 18px;
  text-align: center;
  color: #fff;
  font-style: normal;
  font-size: 11px;
}
.mod_brand_sale .rank_content li a .no_2 {
  background: url('https://img.yihaodianimg.com/front-homepage/index/images/indexbody_sprite.png?801dc06') no-repeat -90px 0;
}
.mod_brand_sale .rank_content li a .no_3 {
  background: url('https://img.yihaodianimg.com/front-homepage/index/images/indexbody_sprite.png?801dc06') no-repeat -120px 0;
}





















/* 底部css */
/* service begin */
.ft_footer_service {
  padding: 30px 0;
  border-bottom: 1px solid #ebebeb;
} 
.ft_footer_service a{
  float: left;
  display: block;
  _display: inline;
  width: 205px;
  overflow: hidden;
  margin: 0 51px;
}  
.ft_footer_service a img {
  float: left;
  display: block;
  width: 66px;
  height: 66px;
  margin-right: 15px;
} 
.ft_footer_service a b {
  display: block;
  margin-top: 10px;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  color: #333;
}
.ft_footer_service a span {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #999;
  line-height: 26px;
}
/* sercice end */

/* 服务列表开始*/
.ft_service_link {
  padding: 20px 0 20px;
  overflow: hidden;
}
.ft_service_link .ft_help_list{
  padding-left:15px;
}
.ft_service_link .ft_help_list dl{
  float: left;
  width:195px;
  display: block;
}
.ft_service_link dl dt {
  height: 32px;
  padding: 0 8px;
  font-size: 14px;
  color: #666;
  line-height: 32px;
  overflow: hidden;
  font-family: "Microsoft YaHei";
  color: #666;
  font-weight: bold;
}
.ft_service_link dl dt {
  height: 32px;
  padding: 0 8px;
  font-size: 14px;
  color: #666;
  line-height: 32px;
  overflow: hidden;
  font-family: "Microsoft YaHei";
  color: #666;
  font-weight: bold;
}
.ft_service_link dl dd {
  height: 24px;
  padding: 0 8px;
  line-height: 24px;
  overflow: hidden;
  white-space: normal;
  font-size: 12px;
}
/* 服务列表结束 */
/* footer 二维码 begin */
.ft_code_wrap{
  width:280px;
  float: left;
  overflow: hidder;
  margin-right: -50px;
}
.ft_code_wrap .ft_mobile_code {
  float: left;
  margin-right: 50px;
  line-height: 32px;
  font-size: 14px;
  font-weight: bold;
  color: #666;
}
.ft_mobile_code img {
  width: 90px;
  height: 90px;
}
#footer p{
  color: #666;
  text-align: center;
  text-indent: 0;
  line-height: 100%;
  margin: 15px 0;
  padding: 0
}
.ft_footer_link a {
  color: #666;
  margin: 0px 10px;
}
.ft_footer_link a:hover{
  color: red;
}
.ft_pic_link {
  display: block;
  padding: 10px 0 20px;
  text-align: center;
  font-size: 0;
}
.ft_pic_link a {
  display: inline-block;
  margin: 0 4px;
}
/* footer  end */