*{
    box-sizing: border-box;

}
/* 顶部样式 */
.hd_header_wrap {
    background-color: #fff;
}
.hp_top_bar{
    height: 30px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f4f4f4;
    line-height: 30px;
}
/* 一号店首页样式 */
.hp_top_bar .top_home{
    float:left;
    display: block;
    height: 30px;
    padding: 0 10px;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    color: #666;
}
.top_home .iconfont{
    color:#ff4040;
    
}
/* 设置地址板块样式 */
.hp_top_bar .top_address{
    position: relative;
    float:left;
}
.top_address .city{
    float: left;
    display: block;
    height: 30px;
    padding: 0 10px;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    color: #666;
}
.city .iconfont{
    color:#ff4040;
}
/* 右边登录注册板块样式 */
.hp_top_bar .top_right{
    float: right;
    color: #666;
}






/* 顶部搜索板块样式 */
.hp_header{
    height:110px;
}
/* 左边一号店logo样式 */
.hp_header .header_logo{
    float:left;
    width: 205px;
    height: 110px;
}
.header_logo img{
    width: 205px;
    height: 110px;  
}
/* 一号店搜索及购物车样式 */
.hp_header .header_right{
    float: right;
    width: 974px;
    padding: 32px 14px 0 35px;
}
/* 搜索框样式 */
.header_search{
    position: relative;
    z-index: 501;
    padding-top: 40px;
    float: left;
    width: 754px;
}







/* 话费充值板块样式 */
.container-main{
    background-color: #f5f5f5;
    padding: 30px 0 80px;
}
.container-crm{
    width: 1220px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0 0 1px 1px #fafafa;
    padding: 40px 0 40px 56px;
}
/* 充值操作样式s */
.crm-left{
    float: left;
    width: 540px;
}
.crm-left .crm-title{
    width: 540px;
    height: 32px;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
}
.crm-title h3{
    position: absolute;
    left: 0;
    top: 0;
    height: 32px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #ff3c3c;
}
/* 充值板块的通用样式 */
.crm-body{
    padding-top: 30px;
    padding-left: 16px;
}
.crm-body table{
    color: #666;
    border-collapse: separate;
    border-spacing: 0 15px;
}
.crm-body table tr td:first-child{
    width:60px;
}
.crm-td{
    padding-left: 12px;
    position: relative;
}
.table-item{
    margin-left: 20px;
    display: table-cell;
    vertical-align: middle;
}
/* 手机号码 */
.crm-td .input-box{
    width: 314px;
    height: 30px;
    position: relative;
} 
.input-box input{
    width: 100%;
    height: 100%;
    border: 1px solid #dedede;
    padding: 0 96px 0 20px;
    font-size: 12px;
    outline: 0;
}
.input-box span{
    position: absolute;
    top: 6px;
    right: 20px;
    font-size: 12px;
}
.input-box .iconfont{
    font-size: 16px;
    color: #80c688;
    vertical-align: -2px;
}
/* 充值面额 */
.crm-body .crm-value{
    padding-top: 30px;
}
.crm-ul{
    margin: 0 -8px;
}
.crm-ul .par_value{
    color: #a0a0a0;
    border-color: #dedede;
    cursor: not-allowed;
    float: left;
    width: 96px;
    height: 54px;
    border: 1px solid #dedede;
    margin: 0 8px 0 8px;
    text-align: center;
    padding: 8px 0;
}
.crm-ul .par_value:nth-child(n+5){
    margin-top: 24px;
}
/* .crm-ul .crm-price{

} */
/* 暂无金币 */
.crm-checkbox{
    cursor: not-allowed;
    position: relative;
    color: #999;
}
.crm-checkbox span{
    display: inline-block;
    font-size: 14px;
}
.crm-checkbox .cc{
    width: 12px;
    height: 12px;
    border: 1px solid #dedede;
    border-radius: 2px;
    vertical-align: -1px;
    overflow: hidden;
    position: relative;
    margin-right: 5px;
}
/* 支付 */
.submit-btn{
    color: #a0a0a0;
    border:1px solid #dedede;
    cursor: not-allowed;
    background-color: #f5f5f5;
    width: 128px;
    height: 36px;
    font-size: 14px;
    margin-top: 25px;  
}











