/* 中心内容板块 */
.layoutcontainer{
    margin: 0 auto;
    background: #f0f0f0;
}
/* 顶部导航以及轮播板块  */
/* 版心内容 */
.layoutcontainer .d-layout{
    width:1370px;
    margin:0 auto;  
}
/* 左边的菜单导航 */
.d-layout-3-1{
    width:250px;
    float:left;
}
/* 通用 */
.d-userdefine-layout{
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    position: relative;
}
/* 菜单导航内容 */
/* 菜单的背景图 */
.d-layout-3-1 .d-content{
    height: 450px;
    background: url(../img/caidan.jpg) center center no-repeat;
    position: relative;
}
/* 定位到背景图上的链接 */
.d-layout-3-1 .hot-link{
    background:url(../img/dingwei.png) no-repeat;
    height:30px;
}
.hot-link:nth-child(2){background-position: -23px -27px;left: 23px;top: 27px;width: 87px;}
.hot-link:nth-child(3){background-position: -23px -27px;left: 23px;top: 27px;width: 87px;}
.hot-link:nth-child(4){background-position: -186px -25px;left: 186px;top: 25px;width: 60px;}
.hot-link:nth-child(5){background-position: -19px -57px;left: 19px;top: 57px;width: 60px;}
.hot-link:nth-child(6){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
.hot-link:nth-child(7){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
.hot-link:nth-child(8){background-position: -182px -56px;left: 182px; top: 56px; width: 60px;}
.hot-link:nth-child(9){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
.hot-link:nth-child(10){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
.hot-link:nth-child(11){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
.hot-link:nth-child(12){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
.hot-link:nth-child(13){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
.hot-link:nth-child(14){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
.hot-link:nth-child(15){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
.hot-link:nth-child(16){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
.hot-link:nth-child(17){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
.hot-link:nth-child(18){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
.hot-link:nth-child(19){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
.hot-link:nth-child(20){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
.hot-link:nth-child(21){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
.hot-link:nth-child(22){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
.hot-link:nth-child(23){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
.hot-link:nth-child(9){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
.hot-link:nth-child(9){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
.hot-link:nth-child(9){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
.hot-link:nth-child(9){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
.hot-link:nth-child(9){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
.hot-link:nth-child(9){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
.hot-link:nth-child(9){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
.hot-link:nth-child(9){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
.hot-link:nth-child(9){background-position: -182px -56px;left: 182px;top: 56px;width: 60px;}
/* 中间的轮播板块 */
.d-layout-3-2{
    width: 880.0px;
    float: left;
    margin-left: 10px;
}
.jBanner-150255 {
    overflow: hidden;
    position: relative;
}
.jBanner-150255 .j-module {
    zoom: 1;
}
.j-module .jbannerImg{
    width: 880px;
    height: 450px;
    margin: 0px auto;
}
.j-module .jbannerImg .jImgNodeArea{
    position: absolute;
}

/* 每张轮播板块样式 */
.j-module .jbannerImg dl{
    width: 880px;
    height: 100%; 
    float: left; 
}
.j-module .jbannerImg dl img{
    width:880px;
    height:450px; 
}
.jBanner-150255 .jbannerImg dd {
    width: 100%;
    height: 25px;
    position: absolute;
    bottom: 0px;
    color: #fff;
}
/* 轮播板块上的点 */
.jBanner-150255 .jbannerTab {
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 5px;
    overflow: hidden;
}
.jBanner-150255 .jbannerTab .jbannerThumbnail {
    text-align: center;
}
.jBanner-150255 .jbannerTab em {
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.jBanner-150255 .jbannerTab span {
    margin: 0 5px;
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #919596;
    border: 1px solid #fff;
    border-radius: 8px;
}
/* 当点添加类名时的变化 */
.jBanner-150255 .jbannerTab span.active{
    width: 24px;
    border-color: #d3d4d5;
    background: #d3d4d5;
}
.d-layout-3-3{
    width: 220.0px;
    float: left;
    margin-left: 10px;
}
/* 轮播的动画曲线 */
/* @keyframes annck{

} */
/* 右边品牌logo板块 */
/* 右边品牌logo背景图 */
.d-layout-3-3 .d-content{
    height: 450px;
    background: url(../img/shoujilogo.jpg) center center no-repeat;
    position: relative;
}
/* 定位到背景图上的链接 */
.d-layout-3-3 .hot-link{
    background:url(../img/shoujilog.png) no-repeat;
    height:85px;
    width: 70px;
}
.d-layout-3-3 .hot-link:nth-child(2){background-position: -23px -27px;left: 23px;top: 27px;}
.d-layout-3-3 .hot-link:nth-child(3){background-position: -23px -27px;left: 23px;top: 27px;}
/* <!-- 顶部导航以及轮播板块结束 -->
<!-- 多个块开始 --> */
/* 版心内容  */
.d-layout-1-1{
    width:1300.0px; 
    float:left;
}
/* 疯抢板块标题标题 */
.d-layout-1-1 .d-content {
    position: relative;
}
.d-layout-1-1 .d-content div{
    height: 87px;
    background: url(../img/meirifengqiang.jpg) center center no-repeat;
    position: relative;
}
.ls-11-goods-219453 ul {
    position: relative;
    overflow: hidden;
}
.ls-11-goods-219453  li {
    float: left;
    width: 242px;
    overflow: hidden;
    padding: 5px;
    background: #fff;
    position: relative;
    margin: 0 10px 10px 0;
}
.ls-11-goods-219453 li .goods-img{
    padding: 5px;
    position: relative;
} 
.ls-11-goods-219453 .d-con .J_imgLazyload{
    height:168px;
    width:168px;
    margin:0 auto;
}
.ls-11-goods-219453 li .goods-detail {
    color: #333333;
    margin-top: 10px;
}
.ls-11-goods-219453 li .brand-logo {
    width: 180px;
    height: 36px;
    line-height: 18px;
    overflow: hidden;
}
.ls-11-goods-219453 li .goods-info {
    line-height: 1.1;
    margin-bottom: 4px;
    position: relative;
    margin-top: 3px;
}
.ls-11-goods-219453 li .jd-price {
    color: #E60041;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 0;
}
.ls-11-goods-219453 li .jd-price em {
    font-size: 12px;
    font-weight: normal;
}
.ls-11-goods-219453 li .goods-bar {
    overflow: hidden;
}
.ls-11-goods-219453 li .add-cart {
    float: left;
    width: 50%;
    color: #E60041;
    border-right: 0;
    text-align: center;
    height: 35px;
    line-height: 35px;
}
.ls-11-goods-219453 li .add-cart a {
    display: block;
    height: 35px;
    color: #E60041;
    border: 1px solid #E60041;
    font-size: 14px;
}
.ls-11-goods-219453 li .add-cart a em {
    display: inline-block;
    width: 13px;
    height: 12px;
    background: url(../img/gouwutubiao.png) no-repeat 0 -75px;
    vertical-align: -2px;
    margin-right: 5px;
}
.ls-11-goods-219453 li .buy-now {
    float: left;
    width: 50%;
    height: 37px;
}
.ls-11-goods-219453 li .buy-now a {
    display: block;
    height: 37px;
    font-weight: bold;
    background: #E60041;
    text-align: center;
    color: #fff;
    line-height: 37px;
    font-size: 14px;
}
.ls-11-goods-219453 li .buy-now a em {
    display: inline-block;
    width: 4px;
    height: 6px;
    background: url(../img/gouwutubiao.png) no-repeat 0 -66px;
    vertical-align: 1px;
    margin-left: 2px;
}
.ls-11-goods-219453  li .tag {
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 5px;
    padding-right: 5px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background-color: #e60041;
}
/* 本周主推商品样式 */
.userdefined-153704 .j-module {
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.example-20140513 {
    position: relative;
    zoom: 1;
    width: 1225px;
    margin: 0 auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}
.example-20140513 .ex-price {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    height: 32px;
}
/* 定位上的链接 */
map {
    display: inline;
}
area {
    display: inline;
    cursor: pointer;
}
/* 新品上市商品开始 */
/* 其他样式和上一个板块一致 */

.mc .d-con1{
    width: 1350px;
}
.mc .d-con1 li{
    width: 206.6px;
}







