/* 请浮动 */
.clearfix:before,.clearfix:after{
    display: table;
    content: "";
}
.clearfix:after{
    clear: both;
}
.clearfix{
    *zoom:0;
}

.mod_search_guide{
    border-bottom: 2px solid #e5e5e5;
    margin-bottom: 10px;
    border-top: 1px solid #e5e5e5;
    width:1441px;
    margin: 0 auto;
}
.classWrap{
    position: relative;
  
    border: 2px solid #e5e5e5;
    margin-bottom: -1px;
    border-bottom: none;
    background: url(https://img.yihaodianimg.com/yhdsearch_pc/search3/images/searchGuid_titleBg.png?1200?1839333) repeat-y;

}
.guide_box{
    border-bottom: 1px dotted #e5e5e5;
    border-top: none;
    /* height: auto; */
    margin-top: -1px;
    position: relative;
    z-index: 2;
}
.guide_con_noLabel{
    height: 80px;
    overflow: hidden;
}
.guide_title{
    width: 129px;
    float: left;
}
.guide_title span{
    display:block;
    height: 32px;
    padding: 0 15px 0 5px;
    margin-top: 9px;
    color: #999;
    white-space: nowrap;
    width: 108px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    padding-left: 16px;
    margin: 0;
    line-height: 34px;

}
.guide_main .guide_con{
    width: 1245px;
}
.guide_main{
    width: 1305px;
    float: left;
    vertical-align: middle;
    border-left: 1px solid #f2f2f2;
}
.guide_main .guide_con li{
    line-height: 18px;
    margin-right: 45px;
    float: left;
    height: 24px;
}
.guide_main .guide_con li a{
    height: 18px;
    line-height: 18px;
    position: relative;
    top:6px;
    margin-right: 22px;
    display: block
    
}
.guide_main .guide_con li a span{
    display: block;
    width: 90px;
    padding: 0 2px;
    margin-left: 14px;
    float: left;
    height: 18px;
   /* margin-top: 6px; */
    overflow: hidden;
    line-height: 18px;
    cursor: pointer;
    
}
.multiple_choice{
    float: right;
    right: 5px;
    top: 7px;
    position: absolute;
    z-index: 5;
}
.multiple_choice a{
    margin-right:5px;
    color: #999;
}
.multiple_choice a .amine{
    display: inline-block;
    font-size: 12px;
}
/* .multiple_choice a:hover .amine{
    transition:1s;
    transform:rotate(-180deg)
} */
.brandWrap{
    background: url(https://img.yihaodianimg.com/yhdsearch_pc/search3/images/searchGuid_titleBg.png?1200?1839333) repeat-y;
    /* margin-bottom: 2px; */
    height:130px;
    border: 2px solid #e5e5e5;
    border-bottom: -2px ;
    border-top:none;
    position: relative;
}
.wrap_h{
    height: auto;
    /* display: none; */
}
.brandWrap .guide_title{
    width: 129px;
    float: left;
}
.brandWrap .add_padding{
    padding: 5px 0;
}
.guide_switch{
    padding-right: 70px;
    height: 42px;
    display: none;
    line-height: 42px;
    padding: 0 20px 0 10px;
}
.guide_switch span{
display:inline-block;
width: 16px;
height: 16px;
text-align: center;
line-height: 16px;
margin-right: 5px;
cursor: pointer;
border-radius: 2px;
}
.guide_switch .other{
    /* margin: 0 auto; */
    padding:0 4px;
    text-align: center;
    cursor: pointer;
    width: auto;
}
.cur{
    background: #ff4040;
    color:#fff;
}
.switch_search{
    position: relative;
    /* top: -30px; */
    left: -50px;
    float: right;
}
.switch_search input{
    width: 164px;
    
    outline:none;
    height: 20px;
    border: 1px solid #ddd;
    line-height: 26px;
    border-radius: 14px;
    padding: 3px 12px;
}
.switch_search button{
    /* margin-left: 20px; */
    position: absolute;
    top: 13px;
    right: 20px;;
    outline:none;
    border:none;
    cursor: pointer;
    background: #fff;
}
.guide_lists{
    height: 107px;
    overflow: hidden;
    width: 1292px;
    margin: 6px 0 6px 13px;
    position: relative;
}
.guide_lists:hover .jspDrag{
    display: block;
}
.jspContainer{
    height: auto;
    width: 1292px;
    height: 886px;
    /* overflow: hidden; */
    position: absolute;
    top: 0;
    left: 0;
}

.guide_ul{
    border-left: 1px solid #e5e5e5;
    /* border-bottom: 1px solid #e5e5e5; */
    padding-top: 1px;
    position: relative;
    width: 1156px;
}
.guide_ulto{
    border-left: 1px solid #e5e5e5;
    padding-top: 1px;
}
.guide_ul li{
    border-right: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    float: left;
    margin-top: -1px;
    overflow: hidden;

}
.guide_ul li a{
    width:90px;
    height: 30px ;
    padding: 11px 7px;
    display: block;
    position: relative;
}
.guide_ul li .sr{
    width: 90px;
    height: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: 14px;
    left: 8px;
}

.guide_ul li:hover .sr{
    display: none;
}
.guide_ul li .sl{
    display: none;
    height: 38px;
    width: 100px;
    position: absolute;
    left: 0;
    overflow: hidden;
    top:0;
    color:#ff4040;
    line-height: 40px;
    padding: 5px 0;
    text-align: center;
    border: 2px solid #ff4040;
}
.guide_ul li:hover .sl{
    border-color:#ff4040;
    display:block


}
.guide_ul li .cl{
    /* display: block; */
    background:url(https://img.yihaodianimg.com/yhdsearch_pc/search3/images/searchSprite_png24.png?1200);
    background-position:  -29px -472px;
    width: 14px ;
    height: 14px;
    position: absolute;
    right: 0;
    bottom: -1px;
    display:none;
}
 /* .guide_ulto:hover .jspDrag{
    display: block;
} */
 .over_mush{
    position: absolute;
    top: 7px ;
    right: 5px;
}
.jspVerticalBar{
    width: 8px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    right:0;
}
.jspVerticalBar:hover .jspDrag{
    display: block;
}
.jspVerticalBar .jspTrack{
    height:107px;
    position: relative;
   
}
 .jspDrag{
    height: 48px;
    width: 8px;
    display:none;
    background: #979797;
    border-radius: 4px;
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 5px;
    
}
.add_padding .over_any:focus .guide_switch{
    display: block;
}
 .over_mush .over_any{
    display: inline-block;
    line-height: 18px;
    position: absolute;
    right: 50px;
    top: 0;
    width: 30px;
    text-align: center;
    background-color: #fdfdfd;
    border:1px solid #dcdcdc;
}
.brandWrap .over_any:focus .guide_ul{
    display: none;
}
.guide_selected{
    padding: 6px 0 6px 13px;
    display: none;
}
.ansery{
    float: left;
    margin-left: 8px;
    font-size: 12px;
    /* margin: 18px 0; */
    line-height: 20px;
    width: auto;
    padding: 3px 2px;
    border: 1px solid #ffdfd2;
    color:#ff8556

}
.ansery span{
    color:#ff8556;
    margin-left: 6px;
    cursor: pointer;
}
.sel_title{
    float: left;
    width: 40px;
    line-height: 24px;
    height: 24px;
}
.guide_btn{
    text-align: center;
    display: none;
    cursor: pointer;
}
.btn_ok{
    cursor: not-allowed;
}
.guide_btn a{
    color: #999;
    border: 1px solid #cfcfcf;
    width: 44px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    border-radius: 2px;
    background: #fbfbfb;
    margin-right: 5px;
}
.search_guide{
    background: url(https://img.yihaodianimg.com/yhdsearch_pc/search3/images/searchGuid_titleBg.png?1200?1839333) repeat-y;
    border: 1px solid #e5e5e5;
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom: none;
    border-top: none;

}
.search_guide .guide_box{
    height: 34px;
    border-bottom: 1px solid #fff;
    border-top: 1px dotted #c9c9c9;
    overflow: hidden;
    margin-top: -1px;
}
.search_guide .guide_main .guide_con{
    padding: 3px 0 0 12px;
    height: auto;
}
.search_guide .guide_main .guide_con li{
    margin-right: 30px;
    float: left;
    height: 25px;
    line-height: 18px;
    
    margin: 0 10px 8px 0

}
.search_guide .guide_box .guide_con li a{
    display: block;
    margin-left: 13px;
    padding: 0 18px 0 2px;
    border: 1px solid #fff;
    margin-left: 0;
}
.search_guide .guide_box .guide_con li a .sp_wid{
    width: auto;
    display: block;
    margin-left: 0;
}
/* .search_guide .guide_box .guide_con li a:focus .ali{
    background-position: -75px -58px;
} */
.search_guide .guide_box .guide_con li i{
    background: url(https://img.yihaodianimg.com/yhdsearch_pc/search3/images/searchSprite_png24.png?1200);
    float: left;
    width: 12px;
    height: 12px;
    margin: 3px 4px 0 0;
    background-position: -64px -70px;
    font-size: 0;
    display: none;
}
.search_add_border .any_one{
    margin-right: 58px;
}
.select_property{
    background: url(https://img.yihaodianimg.com/yhdsearch_pc/search3/images/searchGuid_titleBg.png?1200?1839333) repeat-y;
    
    border-color: #c9c9c9 #e5e5e5 #e5e5e5 #e5e5e5;
    border-width: 1px 2px 0 2px;
    border-style: dotted solid none solid;
}
.guide_ax{
     /* padding: 8px 0 0 12px; */
     width: 1245px;
}
.guide_ax li{
    float: left;
    margin: 0 16px 0 0;
    padding: 0 8px 0 12px;
    border: 1px solid #ffffff;
    line-height: 35px;
    position: relative;
    
    /* border-bottom: 1px ; */
    background: #fff;
    
}
.guide_ax li i{
    font-size: 12px;
    display: inline-block;
}
.guide_ax li:hover .icon-xiangxia{
    transition:1s;
    transform:rotate(-180deg);
}
.guide_ax li:hover{
    border-color:#e1e1e1 ;
    border-bottom-color: #fff;
    background: #fff;
    position: relative;
}
.guide_ax li .son_m{
    width: 350px;
    height: auto;
    position: absolute;
    z-index: 5;
    top: 35px;
    padding: 5px;
    background: #fff;
    display: none;
    left: -1px;
    line-height: 0;
    border: 1px solid #e1e1e1;
    /* background: red; */
}
.guide_ax li .hid_m{
    position: absolute;
    top: 35px;
    left: -9px;
}
.guide_ax li .hid_b{
    position: absolute;
    top: 35px;
    left: -216px;
}
.guide_ax li .hid_n{
    position: absolute;
    top: 35px;
    left: -119px;
}
.guide_ax li .son_m .multiple_choice a{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 18px;
}
.guide_ax li .son_m a{
    width: 75px;
    overflow: hidden;
    /* font-size: 0; */
    padding: 0 14px 0 16px;
    margin: 5px 0 12px 0;
    font-size: 12px;
    display: inline-block;
    line-height: 16px;
    height: 16px;
}
.guide_ax li .son_m .guide_btn a{
    width: auto;
}
.guide_ax li .son_m .over_any{
    margin:4px;
    padding: 1px; 
}
.guide_ax li .son_m a .sub{
    /* transition: none; */
    /* transform: rotate(-180deg); */
    background: url(https://img.yihaodianimg.com/yhdsearch_pc/search3/images/searchSprite_png24.png?1200);
    float: left;
    width: 12px;
    height: 12px;
    margin: 3px 4px 0 0;
    background-position: -64px -70px;
    font-size: 0;
    display: none;
}
.guide_ax li:hover .son_m{
    display: block;
}