.hd_top_bar {
    height: 30px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f4f4f4;
    line-height: 30px;
}

.hd_topbar_home,
.hd_topbar_city {
    float: left;
    display: block;
    height: 30px;
    padding: 0 10px;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    color: #666;
}

.hd_topbar_home i,
.hd_topbar_city i {
    color: #ff4040
}

.hd_topbar_right {
    color: #666;
}

.hd_topbar_right li {
    position: relative;
    border: 1px solid transparent;
    float: left;
    height: 30px;
}

.hd_unlogin {
    float: left;
    padding: 0 10px;
}

.hd_unlogin .hd_hi,
.hd_unlogin a.hd_login_link {
    color: #ff4040;
    vertical-align: middle;
}

.hd_unlogin a,
.hd_unlogin span {
    vertical-align: middle;
}

.hd_regist_link {
    color: #aaa;
}

.hd_menu {
    min-width: 66px;
    _width: 66px;
    height: 30px;
    padding: 0 10px;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
}

.hd_topbar_right li i {
    width: 14px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    padding-right: 5px;
    vertical-align: middle;
    color: #aaa;
}

.hd_topbar_right li:hover i.icon-dingdan {
    color: #ff4040;
}

i.icon-up_icon {
    transition: transform .2s linear;

}
.hd_menu:hover .icon-up_icon {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.hd_topbar_right .hd_menu_list {
    position: absolute;
    top: 29px;
    left: -1px;
    display: none;
    width: 92px;
    padding: 5px 0;
    border: 1px solid #dbdbdb;
    border-top: 0 none;
    background-color: #fff;
}
li:hover .hd_menu_list{display: block}

.hd_top_bar .hd_topbar_right .hd_menu_list a{
    display: block;
    padding: 0 0 0 10px;
    line-height: 26px;
}
li.hd_cur:hover{
    background: #fff;
    border: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}
.hd_topbar_right .hd_title{
    float: left;
    min-width: 66px;
    _width: 66px;
    height: 30px;
    padding: 0 10px;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
}
.hd_qrcode_bg{
    position: absolute;
    display: none;
    top: 30px;
    left:-10px;
    padding: 15px 9px 9px;
    border: 1px solid #e5e5e5;
    border-top: none;
    background-color: #fff;
}
.hd_topbar_right .hd_qrcode_bg p {
    text-align: center;
    line-height: 12px;
    margin-bottom: 7px;
}
.hd_topbar_right .hd_qrcode_bg .triangle {
    width: 0;
    height: 0;
    border-top: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    position: absolute;
    top: -7px;
    left: 46px;
}
li .hd_title:hover a,li .hd_title:hover i{
    color:#ff4040;
}
li.hd_has_child:hover .hd_qrcode_bg{
    display: block;
}




